<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReduxBond-Mac.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ReduxBond-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ReduxBond-tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7304BE091C26494300538814</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7304BE131C26494300538814</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7304BE281C26499F00538814</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7304BE311C26499F00538814</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7304BE441C2649B000538814</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7304BE4D1C2649B100538814</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7304BE601C2649C000538814</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
